<template>
  <div class="body">
    <Profile-Form
      :isDialogOpen="isCreateProfile"
      :profileTypes="allProfiles"
      @closeProfileForm="toggleProfileForm"
    >
    </Profile-Form>
    <div class="icon-row flex-center">
      <Profile-Icon
        v-for="profile in profiles"
        :key="profile.Id"
        @openLink="openLink(profile.Link)"
        :profile="profile"
      >
      </Profile-Icon>
    </div>
    <v-container>
      <v-row>
        <v-col
          cols="12"
          lg="4"
          md="6"
          sm="12"
          xs="12"
          v-for="customLink in customLinks"
          :key="customLink.Id"
          @click="openLink(customLink.Link)"
        >
          <v-card class="pa-2 card" tile>
            <v-row>
              <v-col cols="2" class="flex-center">
                <v-icon large color="primary" class="icon">
                  {{ customLink.icon }}
                </v-icon>
              </v-col>
              <v-col cols="10" align-self="center">
                {{ customLink.text }}
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col>
          <v-card
            class="d-flex justify-center mb-6 pa-2 card"
            tile
            @click="toggleProfileForm"
          >
            <v-icon large color="primary" class="icon"> mdi-plus </v-icon>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import ProfileIcon from "../components/ProfileIcon.vue";
import ProfileForm from "../components/ProfileForm.vue";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      isCreateProfile: false,
    };
  },
  components: { ProfileIcon, ProfileForm },
  computed: {
    ...mapGetters(["currentUser", "profiles", "customLinks", "allProfiles"]),
  },
  methods: {
    openLink(url) {
      window.open(url);
    },
    toggleProfileForm() {
      this.isCreateProfile = !this.isCreateProfile;
    },
  },
};
</script>

<style scoped>
.icon-row {
  padding: 50px 5px;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.card {
  cursor: pointer;
}
</style>
