<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on, attrs }">
      <span v-bind="attrs" v-on="on">
        <v-icon
          large
          color="primary"
          @click="openLink(profile.Link)"
          class="icon"
        >
          {{ profile.icon }}
        </v-icon>
      </span>
    </template>
    <span>{{ profile.Name }}</span>
  </v-tooltip>
</template>

<script>
export default {
  props: ["profile"],
  methods: {
    openLink(url) {
      this.$emit("openLink", url);
    },
  },
};
</script>

<style scoped>
.icon {
  cursor: pointer;
  padding: 6px;
}
</style>
