<template>
  <v-dialog
    v-model="isDialogOpen"
    max-width="600"
    @click:outside="closeProfileForm"
  >
    <v-card>
      <v-toolbar color="primary">Social media</v-toolbar>
      <v-card-text class="pt-10">
        <v-container>
          <v-autocomplete
            clearable
            label="Select Profile"
            v-model="profileType"
            :items="profileTypes"
            prepend-icon="mdi-account"
            dense
            filled
            solo
          >
            <template v-slot:selection="data">
              <span
                v-bind="data.attrs"
                :input-value="data.selected"
                close
                @click="data.select"
                @click:close="remove(data.item)"
              >
                <v-icon color="primary" class="icon">
                  {{ data.item.icon }}
                </v-icon>
                &nbsp;
                {{ data.item.name }}
              </span>
            </template>
            <template v-slot:item="data">
              <v-list-item-avatar>
                <v-icon color="primary" class="icon">
                  {{ data.item.icon }}
                </v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title v-html="data.item.name"></v-list-item-title>
              </v-list-item-content>
            </template>
          </v-autocomplete>
          <v-text-field
            clearable
            v-model="profileLink"
            label="Profile Link"
            prepend-icon="mdi-link"
            dense
            filled
            solo
          >
          </v-text-field>
        </v-container>
      </v-card-text>
      <v-card-actions class="justify-end pr-10 pb-5">
        <v-btn @click="closeProfileForm">Close</v-btn>
        &nbsp;
        <v-btn @click="submitProfileForm" color="primary">Create</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      profileType: {},
      profileLink: "",
    };
  },
  computed: {
    selectedProfile() {
      return {
        profileId: this.profileType.Id,
        link: this.profileLink,
      };
    },
  },
  props: ["isDialogOpen", "profileTypes"],
  methods: {
    closeProfileForm() {
      this.selectedProfile = {};
      this.$emit("closeProfileForm");
    },
    submitProfileForm() {
      if (!this.profileLink.trim())
        this.$emit("createProfile", this.selectedProfile);
    },
  },
};
</script>
