<template>
  <v-app>
    <v-app-bar app dark>
      <div class="d-flex align-center">
        <img src="./assets/IH-logo.png" height="60px" />
        <h2>InspiroHeights</h2>
      </div>
      <v-spacer></v-spacer>
      <v-icon class="icon" color="primary" @click="toggleDarkMode">
        {{ this.$vuetify.theme.dark ? "fa fa-solid fa-sun" : "fa fa-moon" }}
      </v-icon>
    </v-app-bar>
    <hr />
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",
  methods: {
    toggleDarkMode() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
    },
  },
};
</script>
<style scoped>
.icon {
  cursor: pointer;
}
hr {
  border: 34px solid #ff3300;
}
</style>
